.c1{
    color:white;
    background-color:firebrick;
}
.add{
    color:white;
    background-color: orange;
    width:120px;
    height:40px;
    border-radius:20px;
}
.buy{
    color:black;
    background-color:gold;
    width:120px;
    height:40px;
    padding-top:5px;
    border-radius:20px;

}